@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@theme {
  --font-sans: "Manrope", sans-serif;
}

body {
  height: auto;
  width: auto;
  @apply bg-[#010409] font-sans text-zinc-50 antialiased;
}
